Options -MultiViews
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "https://receive.cash,https://auth.receive.cash,http://localhost:3000"
  Header set Access-Control-Allow-Credentials true
  Header set Access-Control-Allow-Headers "*"
  Header set Vary "Origin"
</IfModule>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^receive\.cash [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://receive.cash/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
